pre {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

pre.dm-date-interval {
    text-align: center;
    display: block;
    padding: 20px 0px 0px 0px;
    margin: 0 10px -27px 0px;
    font-size: 13px;
    color: #333;
    border: none;
    background-color: transparent;
}

